/* NovaStream Radio Pro - Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #020203;
  color: #e4e4e7;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

#root {
  width: 100vw;
  height: 100vh;
}
